@model FinanceManagementUi.Models.AdminViewModels.ImportFileBatchesViewModel

@{
    ViewData["Title"] = "Import File Batches";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Import File Batches</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
