@model FinanceManagementUi.Models.AdminViewModels.ImportFileTypesViewModel
@{
    ViewData["Title"] = "Import File Types";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Import File Types</h2>

<div>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>